*.iml
# Gradle files
.gradle
gradle.properties
.gradle/
build/
local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Android Studio files
/.idea/
*.iml

# MacOS files
.DS_Store


/build
/captures
.externalNativeBuild
.cxx

# Keystore files
*.jks
*.keystore


# User-specific files
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# Miscellaneous
*.log
*.tmp
*.bak
*.swp
*.swo
*.tmp
